@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    background-image: url("../images/dia.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 20%;
    color: #fff;
}

.cabecalho {
    width: 100%;
    padding: 15px;
}

.nav-bar {
    width: 100%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

.cima {
    width: 100%;
    display: flex;
}

.btn-menu {
    width: 50px;
    color: #fff;
    font-size: 1.8rem;
    background-color: transparent;
}

.localizacao {
    font-size: 1rem;
    margin-top: 5px;
}

.mobile-menu {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background-color: rgba(0, 0, 0, .5);
    backdrop-filter: blur(5px);
    z-index: 3;
}

.div-close {
    width: 100%;
    text-align: end;
}

.search {
    width: 100%;
    height: 50px;
    padding: 5px 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, .5);
}

#pesquisa {
    flex: 1;
    height: 100%;
    padding: 5px;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 2px;
    background-color: transparent;
}

#pesquisa::placeholder {
    color: #000;
}

.icone-search {
    width: 50px;
    height: 50px;
    color: #000;
    z-index: 50;
}

.social-media {
    width: 100%;
    display: flex;
    font-size: 1.6rem;
    justify-content: space-around;
}

.social-media a {
    color: #fff;
    transition: color .2s ease;
}

.social-media .instagram:hover {
    color: #962fbf;
}

.social-media .tik-tok:hover {
    color: #69C9D0;
}
.social-media .facebook:hover {
    color: #1877F2;
}
.social-media .linkedin:hover {
    color: #0077B5;
}
.social-media .github:hover {
    color: #181717;
}
.social-media .discord:hover {
    color: #5865F2;
}

.dados-principais {
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.temperatura {
    font-size: 7rem;
    color: rgba(255, 255, 255, .5);
    margin-bottom: -20px;
}

.left>.temp {
    position: absolute;
    top: 0;
    left: 0;
}

.left>.deg {
    position: absolute;
    top: 6%;
    right: 4%;
    font-size: 1.8rem;
    color: rgba(255, 255, 255, .5);
}

.data {
    width: 100%;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    margin-top: -20px;
}

.right {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.right > .box {
    width: 48%;
    height: 50%;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    color: #000;
    position: relative;
    background-color: rgba(255, 255, 255, .5);
}

.celsius {
    font-size: 1rem;
    position: absolute;
    top: 30%;
    left: 58%;
}

.corpo {
    width: 100%;
    z-index: 2;
    height: calc(100vh - 66.67px);
}

.scroll {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50vh;
    overflow-y: auto;
    border-radius: 30px 30px 0 0;
    background-color: rgba(255, 255, 255, .5);
}

.dados-secundarios {
    width: 100%;
    padding: 20px 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.mini-box {
    width: 45%;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: rgba(0, 0, 0, .5);
}

.dados-adicionais {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    text-align: justify;
}

.box-adicional {
    width: 100%;
    padding: 15px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, .5);
    transition: all .5s ease;
}

.titulo {
    text-align: center;
    text-transform: uppercase;
}

.valor {
    font-size: 1.3rem;
}

.descricao {
    line-height: 1.5rem;
}

.hidden {
    display: none;
}

@media screen and (min-width: 768px) {
    body {
        overflow: hidden;
    }

    .nav-bar {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .search {
        width: 100%;
        display: flex;
        margin-bottom: 5px;
        background-color: rgba(0, 0, 0, .5);
    }

    #pesquisa {
        width: 95%;
        color: #fff;
    }

    #pesquisa::placeholder {
        color: #fff;
    }

    .icone-search {
        width: 5%;
        color: #fff;
    }

    .localizacao {
        width: 100%;
        font-size: 1.3rem;
        padding-left: 25px;
    }

    .open {
        display: none;
    }

    .dados-principais {
        justify-content: center;
    }

    .left {
        width: 30%;
    }

    .left > .temp {
        left: 13%;
    }

    .left > .deg {
        right: 13%;
    }

    .right {
        width: 30%;
    }

    .right > .box {
        width: 35%;
    }

    .scroll {
        display: flex;
        align-items: center;
        position: fixed;
        overflow-y: hidden;
        background-color: transparent;
    }

    .scroll abbr {
        text-decoration: none;
    }

    .mini-box {
        width: 150px;
    }

    .dados-adicionais {
        display: none;
    }

    .sensibilidade, .visibilidade {
        display: flex;
    }

    .rodape {
        width: 100%;
        display: flex;
        position: fixed;
        bottom: 5px;
        justify-content: space-evenly;
    }
}

@media screen and (min-width: 1024px) {
    .left > .temp {
        left: 25%;
    }

    .left > .deg {
        right: 25%;
    }
}

@media screen and (min-width: 1920px) {
    .left > .temp {
        left: 35%;
    }

    .left > .deg {
        right: 35%;
    }
}